#general {

    display: grid;
    grid-template-rows: 0.2fr 1fr 8fr 2fr;
    grid-template-columns: 1fr;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
}

#header {

    grid-row-start: 1;
    grid-row-end: span 2;
}

#logo {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

#logo img {

    height: 40px;
}

#nav {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    font-size: 13px;

}

#nav h1 {

    font-size: 30px;
}

#imagenes {

    grid-row: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2em;
}

.image {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#magna {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    background-image: url("imagenes/image-1.jpg");
    justify-items: center;
    align-content: center;
    text-align: center;
}

#gafas {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    background-image: url("imagenes/image-2.jpg");
    justify-items: center;
    align-content: center;
}

#venenatis {

    grid-column: 1;
    grid-row-start: 2;
    grid-row-start: span 2;
    background-image: url("imagenes/image-3.jpg");
    justify-items: center;
    align-items: center;
    color: white;
    justify-items: center;
    align-content: center;
}

#tempo {

    grid-column-start: 2;
    grid-column: 2;
    grid-row: 2;
    background-image: url("imagenes/image-4.jpg");
    justify-items: center;
    align-content: center;
    color: black;
}

#feugiat {

    grid-column: 2;
    grid-row: 3;
    background-image: url("imagenes/image-5.jpg");
    justify-items: center;
    align-content: center;
    color: black;
}

    
#footer{

    background-color: #F6F6F6;

}

#contacto{     

    grid-row: 4;
    display: grid;
    grid-template-columns: 3fr 2fr;;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color:#585858 ;

}
#get{

    grid-row: 1;
    grid-column: 1;
    justify-items: start;
    align-items: end;
}
#follow{
    grid-column: 2;
    grid-row: 1;
    justify-items: start;
    align-items: end;
}
#registro{

    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#r{

    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}
#name{

    grid-column: 1;
}
#name input{

    border-left: #585858;
    border-right: #585858;
    border-top: #585858;
    background-color: #F6F6F6;
    width: 100%;
}
#email{

    grid-column: 2;
}
#email input{

    border-left: #585858;
    border-right: #585858;
    border-top: #585858;
    background-color: #F6F6F6;
    width: 100%;
}

#mensaje{

    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#mensaje input{

    grid-column: 1;
    border-left: #585858;
    border-right: #585858;
    border-top: #585858;
    background-color: #F6F6F6;
    width: 100%;
}

#btn{

    grid-column: 1;
    grid-row: 3;
    width: 120px;
    height: 30px;
    background-color: #585858;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    margin-top: 5%;
}

#logs{

    grid-column: 2;
    grid-row: 2;
}

#logs img{

    margin-left: 2%;
}

@media(width <= 500px){

    #imagenes{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr 1fr 1fr 1fr;
        gap: 1em;
    }
    #magna{

        grid-row: 1;
        grid-column: 1;
    }

    #gafas{

        grid-row: 2;
        grid-column: 1;
    }


    #venenatis{

        grid-row: 3;
        grid-column: 1;
    }

    #tempo{

        grid-row: 4;
        grid-column: 1;
    }

    #feugiat{

        grid-row: 5;
        grid-column: 1;
    }
}