#contGeneral{

    display: flex;
    flex-direction: column;
}

.container{

    margin: 0 auto;
    max-width: 1200px;
}
#s1{

    background-color: #ECEEF3;
}
#hd{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    margin: auto;
    margin-top: 20PX;
}
#hd a{
    
    color: black;
}

#hd menu{
    
    list-style-type: none;
    display: flex;
    gap: 1em; 
    margin-top: 10px;
    
    
}
#espacio1{
    
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    
}
#txt1{

    font-size: 20px;
    margin-right: 20%;
}
#p1{

    margin-top: 20%;
    color:#51B0DF ;
}
#txt1 h1{

    font-size: 50px;
}
#lo1{

    font-size: 15px;
}
#btn1{

    background-color: #51B0DF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 25px;
}

#s2{

    background-color: #BEE0F1;
}

#espacio2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    padding: 3%;
    text-align: center;
    gap: 15em;
    font-size: 15px;
}

#espacio2 img{

    width: 100px;
    height: 100px;
}

#espacio3{

    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: rgb(94, 93, 94);
}

#img2{
    
    justify-content: space-between;
   
}
#img2 img{

    width: 260px;
    height: 300px;
}

#s4{

    background-color: #ECEEF3;
}

#espacio4{

    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
}

#espacio4 h1{

    font-size:40px;
    color: rgb(97, 97, 97);
    
}

#es{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    gap: 3em;
    margin-top: 2%;
    font-size: 15px;
}
#espa{

    margin: 5%;
    
}

#espa h1{

    text-align: center;
    color: rgb(97, 97, 97);
    margin-bottom: 10%;
    font-size: 40px;
}
#espacio4 img{

    width: 500px;
    height: 300px;
}

#contacto{

    margin-left:10%;
}

#contacto input{

    border: none;
    width: 900px;
    margin-bottom: 10px;
    
    
}
#name{

    background-color:#ECEEF3 ;
}
#email{

    background-color:#ECEEF3 ;
}
#mensaje{

    background-color:#ECEEF3 ;
}
#btn2{

    background-color: #51B0DF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#s6{

    background-color: #ECEEF3;
}

#footer{

    text-align: center;
    padding: 2%;
    color: rgb(97, 97, 97);
}


