#general{

    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction:row;
    gap: 10px;
}

#contIzquierda{

    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
}

#primeroIzqui{

    display: flex;
    flex-direction: column;
    background-color: rgb(163, 163, 163);

}

#contDerecha{

    background-color: rgb(180, 30, 30);
    display: flex;
    flex-direction: column;
}